@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 14px;
}
body{
    background-color: #bac5dd;
}
#header{
    background-image: url('./picture1.jpg');
    background-size: cover;
    position: relative;
    padding: 150px;
}
#header>ul{
    background-color:#5473b4;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}
#header>ul>li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    float: left;
    display:block;
}
#header ul li a::after{
    content: "";
    clear:both;
    display:table;
}
#header h1{
    margin: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}
#header ul li{
    color:white;
    float: left;
    text-decoration: none;
    padding: auto;
    display: block;
}
#header ul li::after {
    content: "";
    clear: both;
    display: table;
}
#container{
    max-width: 800px;
    width:95%;
    margin: 50px auto;
}
#content{
    position: relative;
    box-sizing: border-box;
    max-width: 800px;
}
.submenu{
    position:absolute;
    background-color:#5473b4;
}

.submenu a{
    display: block;
    text-decoration: none;
    padding: 15px;
}
#footer {
    left: 0;
    bottom: 0;
    padding: 30px;
    background-color: rgb(250, 250, 244);
    color: rgb(112, 108, 108);
    text-align: center;
    max-width: 800px;
}
#header ul li a:hover{
    text-decoration: none;
    display: block;
}